@charset "utf-8";

/*구글폰트*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*reset*/
body{font-family: 'Noto Sans KR', sans-serif; font-size:16px; line-height:1.5em;}
body,h1,h2,h3,h4,h5,h6,ul,dd,p{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration:none;}
em{font-style:normal;}


/*공통부분*/
.sec-inner{width:1200px; margin:0 auto;}

/*header*/

#header{position:relative; left:0; top:0; width:100%; height:100px; border-bottom:4px solid #ea9727; transition:all 1s; opacity:1;}
#header.up{top:-20px; opacity:0;} 
#header h1{position:absolute; left:2.5%; top:20px; background:url(../images/logo1.jpg) no-repeat; width:160px; height:159px; text-indent:-9999px; cursor:pointer}

#gnb{text-align:center; padding-left:70px; min-width:1000px;}
#gnb li{display:inline-block; margin: 10px 100px 0 0;}
#gnb li a{display:block; line-height:100px; color:#ea9727; font-size:25px;}
#gnb li a:hover{color:#b0d942;}

#header .all-menu{position:absolute; right:2.5%; top:40px; width:32px; height:18px; cursor:pointer;}
#header .all-menu span{position:absolute; width:100%; height:3px; background-color:#ea9727; left:0;}
#header .all-menu .line1{top:0;}
#header .all-menu .line2{top:8px;}
#header .all-menu .line3{top:16px;}

#gnb_side{background-color:#f9f9f9; border-right:0; width:185px; height:280px; padding-top:20px; box-sizing:border-box; border-radius:15px 0 0 15px; position:absolute; right:0; top:105px; z-index:100; box-shadow:-5px 5px 0 rgba(247, 143, 30, 0.8); cursor:pointer; display:none;}
#gnb_side ul li{display:block; background:url(../images/bng_side.png) no-repeat ; width:155px; text-indent:-9999px; margin:15px 15px 15px 20px;}
#gnb_side ul li:nth-child(2){background-position:right;}
#gnb_side ul li:nth-child(3){background-position:bottom;}
#gnb_side .sns_set a{display:block; text-indent:-9999px; width:173px; height:38px; background:url(../images/sns.png) no-repeat left 0; margin:30px 0 0 10px;}

.h-bg{background-color:#fce6d3;}
.h-bg .flower{display:block; margin:0 auto; padding-top:50px; transform:scale(1); transform-origin:center center;  animation:ani 2.5s ;}
@keyframes ani{
        0%{transform:scale(0);}
        100%{transform:scale(1);}
      }
/*sec-1*/
#sec-1{position:relative;}
#sec-1 .pic{height:650px; background:url(../images/myphoto-5.jpg) no-repeat center 110px; background-size:55%; position:relative; margin-top:50px; box-sizing:border-box;}
#sec-1 .pic h2{text-align:center; color:#696969; line-height:1.5em; font-size:35px;}
#sec-1 .pic h2 strong{font-size:40px; color:#f8a32f;}
#sec-1 .about{background-color:#fdaf43; width: 100%; height:180px; position: absolute; left: 0; top: 580px; z-index:-1;}
#sec-1 .profile, #sec-1 .career, #sec-1 .license, #sec-1 .edu{color:#ffffff; z-index:3; }
#sec-1 .profile{position:absolute; left:33%; top:5%;}
#sec-1 .profile dl dt{display:inline-block; text-align:center; padding-right:10px; font-size:18px;}
#sec-1 .profile dl dd{display:inline-block; text-align:center; margin-right:62px;} 
#sec-1 .career_p, #sec-1 .license_p{font-size:18px;}
#sec-1 .career{position:absolute; left:18%; top:70px;}
#sec-1 .career .data{padding-right:10px;}
#sec-1 .license{position:absolute; right:39%; top:70px;}
#sec-1 .edu{position:absolute; right:18%; top:70px;}

.skill-wrap{overflow:hidden; padding-top:110px;}
.skill-wrap .skill-profil{text-align:center;}
.skill-wrap .skill-profil .skill-p{float:left; width:33.3%; margin-top:30px;}

.skill-wrap .skill-t{font-size:30px; color:#f8a32f; padding:10px 0 25px;}
.skill-wrap .skill{float:left; width:23%; margin-right:2%;}
.skill-wrap .skill:first-child{margin-left:1%;}
.skill-wrap .skill:last-child{margin-right:0;}

.skill .skill-tit{height:32px; background-repeat:no-repeat; padding:0 0 5px 35px; line-height:32px; font-size:14px; }
#skill-1 .skill-tit{background-image:url(../images/photoshop.png); }
#skill-2 .skill-tit{background-image:url(../images/illustrator.png); }
#skill-3 .skill-tit{background-image:url(../images/browser.png); }
#skill-4 .skill-tit{background-image:url(../images/monitor.png); }

.skill-wrap .skill-bar{position:relative; background-color:#ddd; box-shadow:inset 2px 2px 2px rgb(181, 178, 178);}
.skill-wrap .skill-bar .percent{width:0; height:25px; mix-blend-mode:multiply;}
#skill-1 .skill-bar .percent{background-color:#47c1f7;}
#skill-2 .skill-bar .percent{background-color:#3b70d4;}
#skill-3 .skill-bar .percent{background-color:#fac023;}
#skill-4 .skill-bar .percent{background-color:#40d034;}
.skill-wrap .skill-bar span{position:absolute; left:0; top:0; color:#fff; padding-left:8px;}

/*sec-2*/
#sec-2 .tit-wrap{text-align:center; border-top:4px solid #fcd768; margin-top:20px; padding:20px 0;}
#sec-2 .tit-wrap h2{background:url(../images/flower-1.png) no-repeat 447px 0 ; height:28px;}
#work-item-lst{overflow:hidden;}
#work-item-lst li{float:left; width:50%; height:400px; position:relative; overflow:hidden; padding-left:10px; box-sizing:border-box;}
#work-item-lst li .thumb img{width:100%;}
#work-item-lst .desc{position:absolute; left:-900px; top:0; width:100%; height:98%; background-color:rgba(234, 151, 39, 0.7);}
#work-item-lst .desc .desc-txt{position:absolute; left:30%; top:40%; color:#fff; text-align:left;}
#work-item-lst li:nth-child(3) .desc .desc-txt, #work-item-lst li:nth-child(6) .desc .desc-txt{left:18%;}


#work-item-lst .tom-img{margin-left:220px;}
#work-item-lst .tomtom{margin-left:290px; font-size:18px;}
.tomtom .tom-txt strong{margin-left:200px;}
.tomtom .tom-button{display:inline-block; padding:10px 8px; border:2px solid #b86afa; cursor:pointer; margin:10px 0 0 240px;}
.tomtom .tom-button:hover{background-color:#9f54de; color:#fff;}



#bx-pager>a>img{border:0; box-sizing:border-box; width:226px; height:161px; transition:all 0.5s; }
#bx-pager>a>img:hover{border:5px solid #ea9727;}
#bx-pager{text-align:center;}

/*sec-3*/
#sec-3{margin-top:20px; box-sizing:border-box; position:relative; background-color:#f1d6b5;}
#sec-3 .sec-inner{/*background:url(../images/contac-bg.png) no-repeat center 0; height:807px;*/  height:885px;} 

#sec-3 h2{padding:30px 0 0 20px; font-size:40px; color:#ea9727; border-top:4px solid #fcd768;}
#sec-3 .name_card{width:500px; height:470px; position:absolute; left:35%; top:50%; transform: translateY(-50%);}
.con-t{position:absolute; left:50%; top:95px; transform: translateX(-50%);}
.contac-me{position:absolute; left:50%; top:50%; transform: translate(-50%); text-align:center; color:#f1c590;}
.contac-me .kim{font-size:38px; margin-top:10px; font-weight:300;}
.contac-me .num{font-size:30px; margin-top:18px;}
.contac-me .e-mail{margin-top:10px;}

.btn-top{position:fixed; right:100px; bottom:100px; font-size:50px; color:#fdb350; cursor:pointer; display:none;}

.paging{position:fixed; right:7%; top:50%; margin-top:-40px; z-index:4;}
.paging ul li{margin-bottom:5px;}
.paging ul li:last-child{margin-bottom:0;}
.paging ul li a{display:block; width:20px; height:20px; border-radius:10px; border:3px solid #69e344; box-sizing:border-box; position:relative; color:#f8a724;}
.paging ul li a span{height:20px; line-height:20px; position:absolute; left:20px; top:-4px;}
.paging ul li a.on{background-color:#69e344; color:#803006; font-weight:500;}


/*footer*/
#foot{background-color:#fdb350;}
#foot .foot-inner{width:1200px; height:50px; margin:0 auto; text-align:center; color:#fff; padding-top:40px;}



#gallery li{ text-align: center !important;}

/*플러그인 수정 css*/
.bx-wrapper {-webkit-box-shadow:none; margin-bottom:0; }
.bx-wrapper img{display: inline-block;}
