<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KBOX ADMIN</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../AdminLTE/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../../AdminLTE/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../../AdminLTE/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../../AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../../AdminLTE/plugins/iCheck/all.css">
    <link rel="stylesheet" href="../../AdminLTE/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="../../AdminLTE/dist/css/skins/_all-skins.css">
    <link rel="stylesheet" href="../resources/css/mcc-admin.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">

    <div class="login-logo">
        <h1>KBOX Manager</h1>
    </div>
    <!-- /.login-logo -->

    <div class="login-box-body">

        <h2>KBOX Manager Login</h2>
        <form>
            <ul class="login-form-group">
                <li class="process-message">ID를 입력해 주세요.</li>
                <li class="input-wrapper"><input type="text" id="user-id" placeholder="아이디"><label for="user-id" class="ico_user-id">아이디</label></li>
                <li class="input-wrapper"><input type="text" id="user-pw" placeholder="비밀번호"><label for="user-pw" class="ico_user-pw">비밀번호</label></li>
                <li><button class="btn btn-primary btn_submit">로그인</button></li>
            </ul>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="../../AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../AdminLTE/plugins/iCheck/icheck.min.js"></script>
</body>
</html>
